.arc-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
}

.arc-grid::-webkit-scrollbar {
  display: none;
}

.arc-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
   margin: 20px;
   margin-bottom: 0px;
  text-align: center;
  position: relative;
  
}

 
.button{
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: -4vh;
 right: 0;
 width: fit-content; /* Adjust as needed */
 margin: 1vh;
 .w{
  height: 2.5vh;
  width: 2.5vh;
  opacity: 80%;
 }

}
.w:hover{
  opacity: 100%;
}
.whislist{
  height: 1px;
}


