.product-categories {
    text-align: center;
    padding: 50px 20px;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;

  }
  .categorie {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .category {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .categorye{
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    flex-direction: column;
  
  }
  .category-image{
    height: 300px;
    width: 300px;
  }
  .category:hover {
    transform: scale(1.05);
  }
  .categorye:hover {
    transform: scale(1.05);
  }
  